* * {
    margin: 0%;
    padding: 0%;
    background-color: rgba(0, 168, 146, 0.979);
}


.ip {

    display: flex;
    justify-content: center
}

.ip label {
    border: 1px solid black;
    position: relative;
    margin-top: 100px;
    background-color: rgba(43, 224, 43, 0.664);

    width: 200px;
    padding-top: 5px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-style: italic;


}

.ip #task {
    position: relative;
    margin-top: 100px;
    background-color: crimson;
    width: 300px;
    color: white;
    font-size: larger;
    border: 1px solid black;
}

.ip button {
    border: 1px solid black;
    position: relative;
    margin-top: 100px;
    background-color: rgba(4, 120, 228, 0.979);
    color: white;
    width: 100px;

    font-size: larger;

}

.ip ul {

    position: absolute;
    top: 180px;
    left: 410px;
    width: 600px;


}

ul li {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    cursor: pointer;

}

h1 {
    display: block;
    position: relative;
    top: 20px;
    left: 500px;
    color: rgb(137, 223, 0);
    font-size: 40px;
}

img {
    position: absolute;
    width: 80px;
    height: 60px;

}

ul li input {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 60px;

}

ul li span {
    font-size: 40px;
    border: 2px solid rgba(255, 0, 0, 0.555);
    position: absolute;
    right: 5px;
    height: 20px;
    width: 20px;
    display: inline-flex;
    align-items: center;
    color: rgba(255, 0, 0, 0.877);
}